*.iml
.gradle/
.idea/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.kotlin/
.tmp-core-test/
*.jks
*.keystore
keystore.properties
release-notes.md
